# Client (Prefix with VITE_)
VITE_API_CORE_URL=http://localhost:8000
VITE_API_AI_URL=http://localhost:8001
VITE_APP_NAME="startcn"

# Server (Secure)
DATABASE_URL=
OPEN_AI_API_KEY=
SELINE_TOKEN=
SESSION_SECRET=